body {color: #c0392b}
header-image-menu{
	top: auto;
	position: static;
  left: 30px;
  border: 3px solid #737373;
}
header-image-menu img{
	width: 100%;
	margin: none;
	padding: none;
}
image-text{
	position: absolute;
	top: 60%;
	left: 60%;
	font-family: 'Roboto';
	color: rgb(17, 17, 18);
	transform: translate(-30%, -30%);
	text-align: center;
}
logo{
  position: relative;
  color:blue;
  padding-left: 45px;
  right: 185PX;
  bottom: 90px;

}
Navigation{
  top: 10px;
  left: 180px;
  font-family: Arial, Helvetica, sans-serif;
 transform: matrix(-50%, -50%);
  position: absolute;
  text-align: left;
}
Navigation ul{
  margin: 5px;
  padding: 10px;
  display: inline-block;
     width: 100%;
     letter-spacing: 3px;
}
Navigation ul li {
  margin: 5PX;
  padding: 5PX;
  display: inline-block;
}